<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
<!--            <legend>搜索信息</legend>-->
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: 150px;color: #1E9FFF">请输入停车场名</label>
                            <div class="layui-input-inline">
                                <input type="text" id="parkingName" name="parkingName" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" style="color:#1E9FFF;" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>
</div>
<script src="../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTableId',
            url: '/ParkingList',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [
                [{
                    type: 'checkbox',
                    fixed: 'left'
                }, {
                    field: 'parkingId',
                    title: '车场号',
                    width: 150,
                    fixed: 'left',
                    sort: true,
                    totalRowText: '合计'
                }, {
                    field: 'parkingName',
                    title: '停车场名称',
                    width: 150

                }, {
                    field: 'parkingSpaceCount',
                    title: '车场车位数',
                    width: 150,
                    sort: true,
                    totalRow: true
                }, {
                    field: 'timingUnit',
                    title: '计时单元',
                    width: 150,
                    edit: 'text',
                    sort: true,
                    totalRow: true
                }, {
                    field: 'unitCost',
                    title: '单元费用',
                    width: 150,
                    sort: true,
                    totalRow: true
                },
                    {
                        fixed: 'right',
                        align: 'center',
                        width: 200,
                        toolbar: '#currentTableBar'
                    }
                ]

            ],
            page: true,
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            table.reload('currentTableId', {
                url:"/inquireParkingLot",
                type:"GET",
                page: {
                    curr: 1
                }
                , where: data.field
            });

            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加停车场',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['40%', '70%'],
                    content: '/add.html',
                    end:function () {
                        table.reload('currentTableId', {
                            url: '/ParkingList',
                            method: 'get',
                        });
                    }
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus(obj.config.id)
                    , data = checkStatus.data;
                if (data.length === 0){
                    layer.alert("请至少选择一个停车场删除")
                }else {
                    layer.confirm("请确定要删除选择的停车场",function (index) {
                        var result = [];
                        for (var i in data) {
                            result.push(data[i]['parkingId']);
                        }
                        layer.close(index);
                        $.ajax({
                            url: "/deleteParkingLotList",
                            type: "POST",
                            data: {
                                parkingId: JSON.stringify(result)
                            },
                            success: function(e) {
                                table.reload('currentTableId', {
                                    url: '/ParkingList',
                                    method:'GET'
                                });

                            }
                        })
                    })
                }
            }
        }
    );

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                var index = layer.open({
                    title: '编辑用户',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: false,
                    area: ['40%', '70%'],
                    content: '/edit.html',
                    success: function(layero, index){
                        var body=layer.getChildFrame('body',index);//少了这个是不能从父页面向子页面传值的
                        //获取子页面的元素，进行数据渲染
                        body.contents().find("#parkingId").val(data.parkingId);
                        body.contents().find('#parkingName').val(data.parkingName);
                        body.contents().find('#parkingSpaceCount').val(data.parkingSpaceCount);
                        body.contents().find('#timingUnit').val(data.timingUnit);
                        body.contents().find('#unitCost').val(data.unitCost);
                    },
                    end:function () {
                        table.reload('currentTableId', {
                            url: '/ParkingList',
                            method: 'get',
                        });
                    }
                });

                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除停车场么', function (index) {
                    // obj.del();
                    $.ajax({
                        url: "/deleteParkingLot",
                        type: "GET",
                        data: {
                            parkingId: data.parkingId
                        },
                        success: function(e) {
                            table.reload('currentTableId', {
                                url: '/ParkingList',
                                method:'GET'
                            });
                        }
                    })
                    layer.close(index);
                });
            }
        });

    });
</script>

</body>
</html>